a {
    text-decoration: none;
  }
  
  nav {
    font-family: monospace;
    font-size: 22px;
  }
  
  ul {
    /*background: lightpink;*/
    list-style: none;
    margin: 0;
    padding: 15px 15px 15px 15px;
  }
  
  li {
    /*color: pink;*/
    /*background: lightpink;*/
    display: inline-block;
    /*float: left;*/
    padding: 1rem;
    position: relative;
    text-decoration: none;
    transition-duration: 0.5s;
  }
    
  li a {
    color: black;
  }
  
  li:hover,
  li:focus-within {
    background: white;
    cursor: pointer;
  }
  
  li:focus-within a {
    outline: none;
  }
  
  ul li ul {
    background: lightpink;
    visibility: hidden;
    opacity: 0;
    min-width: 5rem;
    position: absolute;
    transition: all 0.5s ease;
    margin-top: 2rem;
    left: 0;
    display: none;
    
  }
  
  ul li:hover > ul,
  ul li:focus-within > ul,
  ul li ul:hover,
  ul li ul:focus {
     visibility: visible;
     opacity: 1;
     display: inline;
    
  }
  
  ul li ul li {
    /*clear: both;*/
    /*width: 100%;*/
    /*display: flex;*/
    /*text-align: center;*/
    /*display: inline;*/

    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    
  }