#h1
{color: darkslategrey;}

  
  h2 + p::first-letter {
    color: white;
    background-color: grey;
    border-radius: 2px;
    box-shadow: 3px 3px 0 pink;
    font-size: 250%;
    float: left;
  }

  p + p {
    text-indent: 2em;
   } 



  

  

main {
  height: 160px;
  /*grid-template: 120px/ repeat(3, 180px);*/
  align-content: center;
  justify-content: space-evenly;
}

footer {
  height: 400px;
  align-items: center;
  justify-items: center;
}


