
/* (B) HORIZONTAL MENU ITEMS */
li {
    color: pink;
    display: inline;
    text-align: center;
    padding: 15px 15px 15px 15px;
  }

/* THIS CHANGES THE TEXT AND COLOR OR THE TITLES IN THE HORIZONTAL MENU*/
  li a {
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 22px;

}

li:hover,
li:focus-within {
  background: white;
  cursor: pointer;
}


ul li:hover > ul,
ul li:focus-within > ul,
ul li ul:hover,
ul li ul:focus {
   visibility: visible;
   opacity: 1;
   display: relative;
}
  
  blockquote{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14 px;
  }
  
  .container {
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: 10% 15% 55% 20%;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "Header Header"
      "Navigation Navigation"
      "Image Content"
      "Footer Footer";
  }
  /* header styling*/
  .Header { grid-area: Header; 
      color: black;
      text-size-adjust: 70%;
      text-align: center;
      font-family: Georgia, 'Times New Roman', Times, serif
    }
  
  .Navigation { grid-area: Navigation; 
    background:pink;
    padding: 15px 15px 15px 15px;
    font-size: 150%;
    text-align: center;
  }
  
  .Image { grid-area: Image;
  padding: 5%;}
  
  .Content { grid-area: Content; 
    margin-right: 5em;
    font-size: 18px;
  font-family: 'Roboto', sans-serif;
  line-height: 20pt;
  }
  
  .Footer { grid-area: Footer;
      background-image: url(images/backgroundpic.jpeg);
      background-color: lightgrey;
     text-align: center;
      border: 3px solid black;
      padding: 1%;
      margin: auto;
      transition: 1s;
      position: relative;
    }

/*THIS CHANGES THE FOTTER PINK WHEN YOU HOVER OVER
  .Footer:hover {
    background-color: lightpink;
    image-rendering: optimizeQuality;
  }*/


  #icon1:hover,
  #icon1:focus-within {
    cursor: pointer;
    transform: scale(1.5);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

  }

  #icon2:hover,
  #icon2:focus-within {
    cursor: pointer;
    transform: scale(1.5);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

  }


  
  
  html, body , .container {
    height: 100%;
    margin: 0;
  }
    
  